.main-page {
  text-align: center;
  padding: 1rem;
}

.form {
  text-align: left;
  width: min-content;
  margin: 1em auto;
  background: #EFEFEF;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1em;

}

.submit-user {
  text-align: center;
  font-weight: bold;
}

.form-group {
  padding: 0.5rem;
  font-weight: bold;
}

.main-page-header {
  font-size: larger;
  font-weight: bold;
  color: rgb(1, 6, 15);
}

/* Tabs */

ul.react-tabs__tab-list{
  background-color: #282c34;
  color: white;
  text-align: center;
  animation: fadeIn 1s ease;
  font-size: calc(2vmin);
  margin:0;
  padding-left: 0;
}

.react-tabs__tab{
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.25em;
  margin-left: 0;
  opacity: 0.5;
}

.react-tabs__tab--selected{
  background: #282c34;
  color: white;
  opacity: 1;
}

.p-results{
  padding: 1rem;
  background: white; 
  outline: solid;
  text-align: center;
  font-weight: bold;
}